<!DOCTYPE html>
<html lang="ru">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="ООО ПКБ Петробалт"/>

    <title> ООО Петробалт - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    {% block css %}    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

</head>
<body>

<div class="wrap">
    <div class="wrap__header">
        <div class="header__logo inline">
            <a class="" href="/">
                <img src="img/petrobalt-logo.jpg" class="logo">
            </a>
        </div>
        <a class="nav__item{% if (page == "about") %}__selected{% endif %}" href="/about"><span>О КОМПАНИИ</span></a>
        <a class="nav__item{% if (page == "articles") %}__selected{% endif %}" href="/articles"><span>СТАТЬИ</span></a>
        <a class="nav__item{% if (page == "projects") %}__selected{% endif %}" href="/projects"><span>ПРОЕКТЫ</span></a>
        <a class="nav__item{% if (page == "news") %}__selected{% endif %}" href="/news"><span>НОВОСТИ</span></a>
        <a class="nav__item{% if (page == "contacts") %}__selected{% endif %}" href="/contacts"><span>КОНТАКТЫ</span></a>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="js/counter.js"></script>

<div class="footer">
    © 2015 ОАО ПКБ «Петробалт»
</div>

</body>

{% block js %}
{% endblock %}
</html>

{% block javascript %}
{% endblock %}

