{% extends '_base.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="css/slides.css"/>
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <p class="article__title">О компании</p>
    <p class="article__text">ООО ПКБ «Петробалт» было учреждено в 1995 году.</p>
    <p class="article__text">Основным видом деятельности компании является разработка технических и рабочих проектов
                             судов различного назначения, как для российских, так и для зарубежных заказчиков, а также
                             научно-исследовательские и опытно-конструкторские разработки в области судостроения.</p>
    <p class="article__text">Бюро сертифицировано Российским Морским Регистром Судоходства и Российским Речным
                             Регистром.</p>
    <p class="article__text">В разрабатываемых бюро проектах учтен опыт эксплуатации судов как Российских, так и
                             зарубежных компаний и проектируемые суда конкурентоспособны не только в России, но и за
                             рубежом.</p>

    <div id="map-container">
        <div id="map"></div>
    </div>
    <div class="spacer"></div>
    <p class="article__text">В числе наших Заказчиков и Партнеров были такие российские и зарубежные компании как:</p>

    <div class="contragent__container">
        <img src="img/about/viborg_logo.gif" alt="" class="contragent__logo"/>
        {#<img src="img/about/nobiskrug_logo.png" alt="" class="contragent__logo"/>#}
        <img src="img/about/adin1_logo.PNG" alt="" class="contragent__logo"/>
        <img src="img/about/vik_logo.png" alt="" class="contragent__logo"/>
        {#<img src="img/about/vimpel_logo.PNG" alt="" class="contragent__logo"/>#}
        <img src="img/about/bz_logo.png" alt="" class="contragent__logo__wide"/>
        <img src="img/about/fosen_logo.PNG" alt="" class="contragent__logo__wide"/>
        <img src="img/about/ics_logo.gif" alt="" class="contragent__logo__wide"/>
        <img src="img/about/volgotanker_logo.PNG" alt="" class="contragent__logo__wide"/>
    </div>
    <img src="img/05.jpg" class="article__image__right" />
    <p class="article__text">Среди проектов, в разработке которых участвовала компания, проекты таких судов как: химические танкеры, танкеры
       для перевозки жидкой серы, суда контейнеровозы, буксиры-кантовщики и буксиры-спасатели, рыбопромысловые суда,
       суда типа Ro-Ro, пассажирские суда, баржи и понтоны.</p>
    <img src="img/03.jpg" class="article__image__left" />
    <p class="article__text">Бюро оснащено самыми современными средствами проектирования, в том числе специализированными системами
       проектирования судов NAPA, NUPAS – CADMATIC и TRIBON, что позволяет автоматизировать процесс проектирования до
       очень высокого уровня.</p>
    <p class="article__text">В бюро работают высококвалифицированные специалисты всех судостроительных специализаций. Бюро тесно сотрудничает
       с Санкт-Петербургским Морским Техническим Университетом и с Санкт-Петербургским Университетом Водных Коммуникаций
       как в научных исследованиях и научно-технических разработках, так и в подготовке инженерных кадров. Ведущие
       специалисты компании читают лекции студентам в обоих университетах, руководят курсовыми и дипломными работами,
       определяют программы практики и стажировки студентов в компании. Часть сотрудников бюро продолжают свое обучение
       в аспирантурах и ведут свои исследования как в рамках разрабатываемых компанией проектов, так и в рамках
       исследовательских программ университетов.</p>

    <p class="article__text">Бюро консультирует российские и зарубежные верфи по многим вопросам строительства судов, в том числе дает
       рекомендации о контрагентах на выполнение тех или иных работ при необходимости и при наличии информации о последних.</p>

    <p class="article__text">Мы гордимся накопленным опытом в прошлом и стремимся к реализации новых проектов в будущем.</p>
{% endblock %}


{% block javascript %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var center = new google.maps.LatLng(50, 50);
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 3,
                center: center,
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var cords = [
                [{lat: 59.93, lng: 30.26}, {lat: 60.7, lng: 28.7}], //vibor
                [{lat: 59.93, lng: 30.26}, {lat: 44.7, lng: 37.7}], //ortugal
                [{lat: 59.93, lng: 30.26}, {lat: 54.3, lng: 9.7}], //nobiskrug
                [{lat: 59.93, lng: 30.26}, {lat: 61.4, lng: 7.3}],//sandvik
                [{lat: 59.93, lng: 30.26}, {lat: 53.2, lng: 50}], //volgotanker
                [{lat: 59.93, lng: 30.26}, {lat: 58, lng: 40}] //vimpel + kostrom
            ];

            for ( var i=0, cord ; cord = cords[i]; i++) {
                console.log(cord);
                var flightPath = new google.maps.Polyline({
                    path: cord,
                    geodesic: true,
                    strokeColor: '#1b82c1',
                    strokeOpacity: 1,
                    strokeWeight: 1.5
                });
                flightPath.setMap(map);
            }

        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}
