{% extends '_base.html.twig' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="css/slides.css"/>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block title %}  {{ title }}  {% endblock %}

{% block content %}
    <div>
        <p class="article__title">Раздел находится в разработке</p>
    </div>
{% endblock %}