{% extends '_base.html.twig' %}

{% block title %}  {{ title }}  {% endblock %}

{% block content %}
    <div class="section__title">Загрузка файла "IBSV01-*****"</div>
    <p class="contacts__text">принимаются файлы в формате .xslx (без макросов)</p>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="userfile"/>
        <input type="submit"/>
    </form>
{% endblock %}

{% block javascript %}
{% endblock %}