{% extends '_base.html.twig' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="css/slides.css"/>
{% endblock %}
{% block javascript %}
    <script src="js/slides.js"></script>
    <script>
        $(function () {
            $("#slides").slides({
                responsive: true
            });
        });
        $("document").ready(function () {
            $("#slides").slides("play");
        });
    </script>
{% endblock %}

{% block title %}  {{ title }}  {% endblock %}

{% block content %}
    <div id="slides">
        <img src="/img/slide-1.jpg">
        <img src="/img/slide-2.jpg">
        <img src="/img/slide-3.jpg">
        <img src="/img/slide-4.jpg">
    </div>

    <div class="spacer"></div>

    <h3> ОАО «Завод Нижегородский Теплоход» подписал контракт с MO Российской Федерации на строительство больших
        гидрографических катеров проекта 23040Г.
    </h3>
    <h5 class="gray_text">21 марта 2016г.</h5>

    <div class="imageholder pull-right">
        <a href="#" class="image_pop">
        <img src="/img/news/1/48_23040g.jpg" style="width: 400px;">
        </a>
    </div>

    <p class="article__text">
        Второе десятилетие двадцать первого века для России ознаменовалось расширением территории, поиском новых
        возможностей для торговли и партнёрских отношений, прокладкой новых логистических трасс.
    </p>

    <p class="article__text">
        В связи с изменяющимися требованиями мирового и внутреннего рынка возникла необходимость в восстановлении и
        обновлении проторенных троп. Заинтересованность государства в данном вопросе позволяет молодым специалистам
        проявить себя в разных секторах промышленности.
        Знаковым событием на этом сложном пути поднятия мощи и авторитета флота и судостроения Российской Федерации
        является заказ серии Больших гидрографических катеров.
        В атмосфере деловой заинтересованности и слаженной работы 17 августа 2016 года была проведена закладка двух
        новых больших гидрографических катеров (БГК) проекта 23040Г для Военно-морского флота (ВМФ) России в Нижнем
        Новгороде на предприятии АО "Нижегородский теплоход". В церемонии принял участие начальник управления навигации
        и океанографии Минобороны РФ капитан 1 ранга Сергей Травин.Передача катеров в состав ВМФ России запланирована в
        2017 году. Еще по два катера будут построены в 2017 и 2018 годах соответственно.Катер проекта 23040Г разработан
        в ООО ПКБ «Петробалт» и является дальнейшим развитием строящихся на ОАО «Завод «Нижегородский теплоход» для ВМФ
        России рейдовых катеров комплексного аварийно-спасательного обеспечения проекта 23040.
    </p>

    <p class="article__text">
        <h3>Архитектурно-конструктивный тип катера:</h3>
    </p>

    <p class="article__text">
        Для повышения маневренности катер оборудован двухвальной движительной установкой с винтами фиксированного шага,
        носовым подруливающим устройством и способен двигаться на малых ходах 4-6 узлов неограниченное время, объяснил
        представитель Минобороны.
    </p>


    <div>
        <div class="imageholder inline">
            <a href="#" class="image_pop">
            <img src="/img/news/1/742_news03-01.jpg" style="width: 400px;">
            </a>
        </div>

        <div class="imageholder pull-right">
            <a href="#" class="image_pop">
            <img src="/img/news/1/129_news03-02.jpg" style="width: 400px">
            </a>
        </div>
    </div>

    <div>
         <div class="imageholder inline">
            <a href="#" class="image_pop">
            <img src="/img/news/1/837_news03-03.jpg" style="width: 400px">
            </a>
        </div>

        <div class="imageholder pull-right">
            <a href="#" class="image_pop">
            <img src="/img/news/1/865_news03-05.jpg" style="width: 400px;">
            </a>
        </div>
    </div>

    <div class="spacer"></div>

    <p class="article__text">
        На катере также установлена современная интегрированная мостиковая система, которая будет обеспечивать водителя
        всей необходимой информацией с носовым и кормовым пультами управления. Для площадной съемки рельефа дна и поиска
        навигационных опасностей катер оснащен гидрографическим комплексом.
    </p>

    <p class="article__text">
        <h3> Назначение катера:</h3>
    </p>

    <ul class="article__text">
        <li>Высокоточная площадная съёмка рельефа дна и обследование навигационных опасностей на глубинах до 400 метров
            и съемка рельефа дна однолучевым эхолотом на глубинах до 2000 метров;
        </li>
        <li>Обслуживание всех типов плавучих предостерегательных знаков (далее-ППЗ);</li>
        <li>Постановка/съёмка всех типов ППЗ до 1,7 тонны и длиной до 6,5 метров;</li>
        <li>Доставка личного состава, продовольствия, ЗИПа и ремонтных бригад на береговые средства навигационного
            оборудования;
        </li>
        <li>Навигационно-гидрографическое обеспечение спасательных и поисковых операций;</li>
        <li>Лоцманская проводка и лидирование подводных лодок и крупнотоннажных кораблей в пунктах базирования и на
            подходах к ним.
        </li>
    </ul>

    <p class="article__text">
        <h3>Основные характеристики:</h3>
    </p>

    <ul class="article__text">
        <li>Длина наибольшая, м – 33,04</li>
        <li>Длина расчетная, м – 29,16</li>
        <li>Ширина, м – 6,8</li>
        <li>Высота борта на миделе, м – 3,4</li>
        <li>Высота борта в районе грузовой палубы, м – 3,25</li>
        <li>Осадка средняя, м – 1,6</li>
        <li>Водоизмещение порожнем, m – 153,7</li>
        <li>Водоизмещение полное, m – 192,7</li>
        <li>Дедвейт, m – 39</li>
        <li>Скорость хода, узлов около – 12,7+0,3</li>
        <li>Мощность ГД, к Вт – 2х248</li>
        <li>Эффективная тяга подруливающего устройства, кгс - 815</li>
    </ul>

    <p class="article__text">
        <h3>Помещения катера:</h3>
    </p>

    <div>
       <div class="imageholder inline">
            <a href="#" class="image_pop">
            <img src="/img/news/1/06.jpg" style="width: 400px">
            </a>
       </div>

       <div class="imageholder pull-right">
            <a href="#" class="image_pop">
            <img src="/img/news/1/152_news03-04.jpg" style="width: 400px;">
            </a>
       </div>
    </div>

    <div>
         <div class="imageholder inline">
            <a href="#" class="image_pop">
            <img src="/img/news/1/08.jpg" style="width: 400px">
            </a>
        </div>

        <div class="imageholder pull-right">
            <a href="#" class="image_pop">
            <img src="/img/news/1/09.jpg" style="width: 400px;">
            </a>
        </div>
    </div>

    <p class="article__text">
        В процессе создания новых проектов созидательная и честная работа не может не привести к достойным результатам.
    </p>

    <p class="article__text">
        «Боевая ценность корабля зависит от исправного состояния каждой мелочи, составляющих вместе грозное целое.»
        Адмирал И.Е.Шестаков.
    </p>
{% endblock %}
