    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title> ООО Петробалт - {{ title }}</title>

{% block content %}
<div class="maintenance__container">
    <img src="img/maintenance.png"/>
</div>
{% endblock %}