{% extends '_base.html.twig' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="css/slides.css"/>
{% endblock %}
{% block javascript %}
    <script src="js/slides.js"></script>
    <script>
        $(function () {
            $("#slides").slides({
                responsive: true
            });
        });
        $("document").ready(function () {
            $("#slides").slides("play");
        });
    </script>
{% endblock %}

{% block title %}  {{ title }}  {% endblock %}

{% block content %}
    <div id="slides">
        <img src="/img/slide-1.jpg">
        <img src="/img/slide-2.jpg">
        <img src="/img/slide-3.jpg">
        <img src="/img/slide-4.jpg">
    </div>
    <div class="spacer"></div>

    <table class="main__page__frame">
        <tr>
            <td width=30%  valign="top">

                <div class="section__title">Деятельность</div>

                <div class="activity__item">
                    <img src="/img/main/ship.png" alt="" class="inline activity__icon"/>

                    <div class="inline activity__text">
                        Техническое сопровождение проектов при постройке
                    </div>
                </div>
                <div class="activity__item">
                    <img src="/img/main/propeller.png" alt="" class="inline activity__icon"/>

                    <div class="inline activity__text">
                        Разработка приемо-сдаточной и эксплуатационной документации

                    </div>
                </div>
                <div class="activity__item">
                    <img src="/img/main/gear.png" alt="" class="inline activity__icon"/>

                    <div class="inline activity__text">
                        Рабочая конструкторская документация машиностро- ительного производства.
                    </div>
                </div>
                <div class="activity__item">
                    <img src="/img/main/ship.png" alt="" class="inline activity__icon"/>

                    <div class="inline activity__text">
                        Разработка машиностроительных чертежей и документов.
                    </div>
                </div>

                <div class="section__title">Технологии</div>
                <div class="tech__item"><img src="/img/main/cadmatic_logo.png"></div>
                <div class="tech__item"><img src="/img/main/nestix_logo.png"></div>
                <div class="tech__item"><img src="/img/main/aveva_logo.png"></div>
                <div class="tech__item" style="margin-left: 60px;"><img src="/img/main/napa_logo.png"></div>
            </td>
            <td  valign="top" style="padding-left: 20px;" >
                <div class="section__title">Наша работа</div>
                <p class="article__text">Компания ПКБ «Петробалт» предлагает широкий спектр услуг в области проектирования судов.</p>

                <p class="article__text">Наши специалисты владеют современными средствами автоматизированного проектирования (NAPA, NUPAS
                   CADMATIC, TRIBON, AUTOCAD и другими), что позволяет выполнять проектные работы быстро и с высоким
                   качеством, как для российских, так и иностранных заказчиков.</p>

                <p class="article__text">Мы способны спроектировать для Вас современное судно на современном техническом уровне, в
                   максимальной степени удовлетворяющее Вашим требованиям и условиям безопасной эксплуатации. Мы
                   способны работать с проектом любой степени сложности. Наши специалисты разработают выходную
                   документацию в любом, необходимом заказчику, виде.</p>
                <ul>
                    <li>Разработка технико-экономических обоснований, оптимизация транспортных схем</li>
                    <li>Подготовка технических предложений на строительство новых судов;</li>
                    <li>Разработка тендерной документации на строительство новых судов;</li>
                    <li>Разработка контрактной документации на строительство новых судов;</li>
                    <li>Разработка технических/классификационных проектов судов;</li>
                    <li>Подготовка данных и участие в модельных испытаниях;</li>
                    <li>Разработка рабочей конструкторской и плазово-технологической документации;</li>
                    <li>Разработка приемо-сдаточной и эксплуатационной документации;</li>
                    <li>Техническое сопровождение проектов при постройке;</li>
                    <li>Изготовление масштабных моделей судов.</li>
                </ul>
            </td>
        </tr>
    </table>
{% endblock %}