#slides {
    margin: 20px auto;
    width: 100%;
    height: 202px;
    border: solid 1px #000000;
    box-shadow: #666666 0 0 15px;
}

.slides,
.slidesCurrent,
.slidesNext,
.slidesPrevious,
.slidesPagination,
.slidesNavigation{
    display: none;
}