body {
    margin: 0;
    padding: 0;
}

.inline {
    display: inline-block;

}

div.wrap {
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important; /* Параметры тени */
    width: 1020px;
}

div.wrap__header {
    width: 100%;
    /*border-bottom: 3px solid #4682b4;*/
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #1b82c1;
}

.header__logo {
    height: 60px;
    margin: 10px;
    vertical-align: bottom;
}

.nav__item {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 40px;
    text-align: center;
    color: #080808;
    vertical-align: bottom;
}
.nav__item span{
    display:block;
    margin-top: 7px;
    vertical-align: bottom;
    font-size: 18px;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}
.nav__item:hover{
    color: #888888;
    cursor: pointer;
    text-decoration: none;
}

.nav__item__selected {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 40px;
    text-align: center;
    color: #eeeeee;
    background-color: #1b82c1;
    vertical-align: bottom;
}
.nav__item__selected span{
    display:block;
    margin-top: 7px;
    vertical-align: bottom;

    font-size: 18px;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}
.nav__item__selected:hover{
    color: #bbbbbb;
    cursor: pointer;
    text-decoration: none;
}


div.content{
    margin: auto;
    width: 960px;
    height: 800px;
    border: 1px solid black;
}