body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.inline {
    display: inline-block;
}

div.wrap {
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important; /* Параметры тени */
    width: 1020px;
    min-height: 100%;
    padding-bottom: 30px;
}

div.wrap__header {
    width: 100%;
    /*border-bottom: 3px solid #4682b4;*/
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #1b82c1;
}

.header__logo {
    height: 60px;
    margin: 10px;
    vertical-align: bottom;
}

.nav__item {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 40px;
    text-align: center;
    color: #080808;
    vertical-align: bottom;
}

.nav__item span {
    display: block;
    margin-top: 7px;
    vertical-align: bottom;
    font-size: 16px;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

.nav__item:hover {
    color: #888888;
    cursor: pointer;
    text-decoration: none;
}

.nav__item__selected {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 40px;
    text-align: center;
    color: #eeeeee;
    background-color: #1b82c1;
    vertical-align: bottom;
}

.nav__item__selected span {
    display: block;
    margin-top: 7px;
    vertical-align: bottom;

    font-size: 18px;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

.nav__item__selected:hover {
    color: #bbbbbb;
    cursor: pointer;
    text-decoration: none;
}

div.content {
    margin: 10px auto;
    width: 960px;
}

div.spacer {
    margin: 10px auto;
    width: 100%;
    min-height: 20px;
}

.article__title {
    text-indent: 1.5em;
    font-size: large;
}

.article__text {
    text-indent: 1.5em;
    text-align: justify;
}

.contacts__item {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.contacts__text {
    display: inline-block;
    text-indent: 1.5em;
    text-align: justify;
}

.contragent__logo__wide {
    height: 40px;
}

.contragent__logo__square {
    width: 60px;
}

.contragent__container {
    text-align: center;
    margin-bottom: 20px;
}

.article__image__right {
    /*border: 1px solid dimgrey;*/
    float: right;
    padding: 5px;
}

.article__image__left {
    /*border: 1px solid dimgrey;*/
    float: left;
    padding: 5px;
}

#map {
    width: 100%;
    height: 400px;
}

#map-container {
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ccc #999 #ccc;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
}

footer {
    font-size: 10pt;
    color: #eeeeee;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    background-color: #1b82c1;
}


.main__page__frame {
    width: 100%;
    vertical-align: top;
}

.section__title {
    font-weight: bold;
    font-size: large;
    display: block;
    margin: 15px 0 15px 40px;
}

.activity__item {
    margin-top: 10px;
    vertical-align: top;
}

.activity__icon {
    border: 1px solid #1b82c1;
}

.activity__text {
    width: 230px;
    vertical-align: top;
}

.tech__item {
    display: block;
    margin: 20px 0;
}

div.maintenance__container {
    margin-top: 300px;
    text-align: center;

}