{% extends '_base.html.twig' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="css/slides.css"/>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <p class="article__title">О компании</p>
    <p class="article__text">ООО ПКБ «Петробалт» было учреждено в 1995 году.</p>
    <p class="article__text">Основным видом деятельности компании является разработка технических и рабочих проектов
                             судов различного назначения, как для российских, так и для зарубежных заказчиков, а также
                             научно-исследовательские и опытно-конструкторские разработки в области судостроения.</p>
    <p class="article__text">Бюро сертифицировано Российским Морским Регистром Судоходства и Российским Речным
                             Регистром.</p>
    <p class="article__text">В разрабатываемых бюро проектах учтен опыт эксплуатации судов как Российских, так и
                             зарубежных компаний и проектируемые суда конкурентоспособны не только в России, но и за
                             рубежом.</p>
    <p class="article__text">В числе наших Заказчиков и Партнеров были такие российские и зарубежные компании как:</p>
    <table>
        <tr>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>
{% endblock %}